.recipe_title{
    font-family:'inter';
    color: #4e4949;
}
/*.autre_recette{
   color:rgb(2, 21, 22);
   font-weight:600;
   font-size:14px;
   text-align: right;
   margin-right:0;
   margin-top:0;
   margin-bottom:0;
}*/
.autre_recette:hover {
   cursor:pointer;
   text-decoration: underline;
}

.container_intro_collapse{
   display:flex;
   width:100%;
   justify-content: space-between;
   color:#3d3636;
}
.container_intro_collapse a{
   color:#3d3636;
}

.container_intro_collapse a:hover{
   text-decoration: underline;
}
.ingredientList, .mesureList{
    text-align:left;
    padding:0px;
    width: 45%;
    font-weight: 600;
}
 .ingredient_mesure_container{
    display:flex;
    justify-content: center;
    font-family:'inter';
    color: #3d3636;
    width: 60%;
    margin:auto;
 }

 .recipe_container{
    font-family:'inter';
    color: #3d3636;
    width: 800px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 8px;
    background: rgb(142, 190, 194);
    font-family: 'Inter', sans-serif;
    border: 2px solid  #3d3636;
 }

 ul{
    list-style: none;
 }

 .recipe_image{
    width: 300px;
    height:auto;
    border-radius: 5px;
 }
.recipe_instructions{
    line-height:1.5;
}
 .print{
    display: flex;
    justify-content: flex-end;
    font-weight:600;
 }

 .print:hover{
    cursor:pointer;
    color:black;
 }

 @media(max-width:767px){
   .recipe_image{
      width: 80%;
      height:auto;
      border-radius: 5px;
   }
 }


