.collapse_container{
    font-family:'inter';
    color: #3d3636;
    width: 800px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 8px;
    background: rgb(142, 190, 194);
    font-family: 'Inter', sans-serif;
    border: 2px solid  #3d3636;
}

.arrow_open {
  transform: rotate(180deg);
  height: 15px;
  width: auto;
  transition: transform 0.5s ease;
}
.arrow_open_up{
  height: 15px;
  width: auto;
  transition: transform 2s ease-in;
  transform: rotate(180deg);
}

.open_collapse:hover{
    cursor:pointer;  
}
.open_collapse{
    border: 1px solid antiquewhite;
    margin:5px auto;
   /* margin:5px;*/
    padding-bottom: 10px;
    width:100%;
    transition: width 0.5s ease;
}
.open_collapse:hover .arrow_open{
  transform: rotate(360deg);
}
/*.open_collapse:hover .arrow_open{
    animation: bounce 0.5s linear 3 alternate;
    animation-play-state: running;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
    100% {
      transform: translateX(0);
    }
  }*/

.see_recipe{
    margin:10px;
    width:100%;
}

@media (max-width:767px){
  .collapse_container{
    width:90%;
    margin: 0 auto 20px auto;
    box-sizing:border-box;
  } 
}