img{
    height:150px;
    width:180px;
}

.title{
    font-family:'inter'; 
    font-size: 60px;
    text-decoration:none;
    color:  #3d3636;
}
.banniere{
    display:flex;
    width:800px;
    justify-content: center;
    align-items: center;
    margin: 50px 20px 20px auto;
    position:relative;
}

.cursive{
    font-family: 'Pacifico';
    font-size:70px;
    color : rgb(90, 163, 170);
}


@media (max-width:767px){
    
    .title{
        font-size: 40px;
    }
    .cursive{
        font-size:50px;
    }
    .banniere{
    Flex-direction:column;
    margin:20px;
    width:90%;
    }

}